<Directory "/var/www/{{ ansible_env.dnsbinder_server_fqdn }}">
    Options Indexes MultiViews FollowSymLinks
    AllowOverride all
    Require all granted
</Directory>

Listen {{ ansible_env.dnsbinder_server_fqdn }}:80
Listen {{ ansible_env.dnsbinder_server_fqdn }}:443 https
<VirtualHost {{ ansible_env.dnsbinder_server_fqdn }}:443>
	ServerName {{ ansible_env.dnsbinder_server_fqdn }}
	DocumentRoot /var/www/{{ ansible_env.dnsbinder_server_fqdn }}
	SSLEngine on
 	SSLCertificateFile /etc/pki/tls/certs/{{ ansible_env.dnsbinder_server_fqdn }}-apache-selfsigned.crt
 	SSLCertificateKeyFile /etc/pki/tls/private/{{ ansible_env.dnsbinder_server_fqdn }}-apache-selfsigned.key
</VirtualHost>
<VirtualHost {{ ansible_env.dnsbinder_server_fqdn }}:80>
	ServerName {{ ansible_env.dnsbinder_server_fqdn }}
    	DocumentRoot /var/www/{{ ansible_env.dnsbinder_server_fqdn }}
</VirtualHost>
