---
# tasks file for configure_nfs_service_of_server
- name: Create /lab-share with necessary ownership and permissions
  become: true
  file:
    path: /lab-share
    state: directory
    mode: '2770'
    owner: "{{ ansible_facts.env.mgmt_super_user }}"
    group: "{{ ansible_facts.env.mgmt_super_user }}"

- name: Create custom exports under /etc/exports
  become: true
  template:
    src: nfs-exports.j2  
    dest: /etc/exports

- name: Update hostname {{ ansible_facts.env.dnsbinder_server_fqdn }} in /etc/nfs.conf 
  become: true
  lineinfile:
    path: /etc/nfs.conf
    line: "host={{ ansible_facts.env.dnsbinder_server_fqdn }}"
    insertafter: '^\[nfsd\]$'
    backup: true

- name: Enable and Start nfs-server service
  become: true
  systemd_service:
    name: nfs-server
    state: started
    enabled: true

- name: Restart nfs-server service
  become: true
  systemd_service:
    name: nfs-server
    state: restarted

############################# EOF ##############################
