---
# tasks file for setup_pxe_boot_of_server
- name: Configure /etc/kea/kea-dhcp4.conf
  become: true
  template:
    src: kea_dhcp4_conf.j2
    dest: /etc/kea/kea-dhcp4.conf

- name: Configure /etc/kea/kea-ctrl-agent.conf
  become: true
  template:
    src: kea_ctrl_agent_conf.j2
    dest: /etc/kea/kea-ctrl-agent.conf

- name: Create server-hub mount point under /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}
  file:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/server-hub"
    state: directory

- name: Bind mount /server-hub as /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }} update an entry in fstab as well 
  become: true
  ansible.posix.mount:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/server-hub"
    src: "/server-hub"
    fstype: none
    opts: "bind,ro,uid={{ ansible_env.mgmt_super_user }},gid={{ ansible_env.mgmt_super_user }}"
    state: mounted

- name: Create almalinux-latest mount point under /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}
  file:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/almalinux-latest"
    state: directory

- name: Mount AlmaLinux ISO from CD-ROM and update an entry in fstab as well 
  become: true
  ansible.posix.mount:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/almalinux-latest"
    src: "{{ ansible_env.default_linux_distro_iso_path }}"
    fstype: iso9660
    opts: "uid={{ ansible_env.mgmt_super_user }},gid={{ ansible_env.mgmt_super_user }}"
    state: mounted

- name: Create /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe to manage iPXE
  file:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe"
    state: directory

- name: Create /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe/images to manage iPXE images
  file:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe/images"
    state: directory

- name: Create almalinux-latest under /{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe/images to hold kernel and initrd image
  file:
    path: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe/images/almalinux-latest"
    state: directory

- name: Copy PXE boot images from AlmaLinux ISO CD-ROM mount to /var/lib/tftpboot/almalinux-latest
  ansible.builtin.synchronize:
    mode: push
    src: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/almalinux-latest/images/pxeboot/"
    dest: "/{{ ansible_env.dnsbinder_server_short_name }}.{{ ansible_env.dnsbinder_domain }}/ipxe/images/almalinux-latest/"
    rsync_opts:
      - "--include='vmlinuz'"
      - "--include='initrd.img'"
      - "--exclude='*'"

- name: Copy /usr/share/syslinux to /var/lib/tftpboot
  become: true
  ansible.posix.synchronize:
    src: /usr/share/syslinux/
    dest: /var/lib/tftpboot/

- name: Copy custom-built ipxe.efi to tftpboot directory
  become: true
  copy:
    src: ipxe.efi
    dest: "{{ ipxe_tftp_target }}"
    mode: '0644'

- name: Enable and Start kea-dhcp4,kea-ctrl-agent and tftp.socket
  become: true
  systemd_service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - "kea-dhcp4"
    - "kea-ctrl-agent"
    - "tftp.socket"

- name: Restart kea-dhcp4,kea-ctrl-agent and tftp.socket
  become: true
  systemd_service:
    name: "{{ item }}"
    state: restarted
  loop:
    - "kea-dhcp4"
    - "kea-ctrl-agent"
    - "tftp.socket"

- name: Create command sym-link dnsbinder
  become: true
  file:
    src: /server-hub/named-manage/dnsbinder.sh
    dest: /usr/bin/dnsbinder
    state: link

- name: Create command sym-link ksmanager
  become: true
  file:
    src: /server-hub/ks-manage/ksmanager.sh
    dest: /usr/bin/ksmanager
    state: link

- name: Create command sym-link prepare-distro-for-ksmanager
  become: true
  file:
    src: /server-hub/ks-manage/prepare-distro-for-ksmanager.sh
    dest: /usr/bin/prepare-distro-for-ksmanager
    state: link

################################ EOF ##################################
