---
# tasks file for install-required-packages
- name: Install common utilities and server tools
  become: true
  dnf:
    update_cache: true
    name:
      - bash-completion
      - tar
      - vim
      - git
      - bind-utils
      - bind
      - wget
      - net-tools
      - zip
      - kea
      - kea-hooks
      - tftp-server
      - tftp
      - nginx
      - nginx-mod-stream
      - tmux
      - rsync
      - sysstat
      - tcpdump
      - traceroute
      - nc
      - lsof
      - nfs-utils
      - nmap
      - tuned
      - tree
      - yum-utils
    state: present
